@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

:root {
    --primary-color: #FFFFFF;
    --second-color: #FB5352;
    --fonte: 'Roboto', sans-serif;
    --hover: #F72798;
}

body {
    color: var(--primary-color);
    background-color: black;
    font-family: var(--fonte);
}

.cabecalho__lista {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    padding: 2rem 0;
}

.cabecalho__imagem {
    padding: 0 2rem;
}

nav {
    text-align: justify;
}

.link__nav {
    margin: 2rem;
    color: var(--primary-color);
    font-size: 22px;
    font-weight: 300;
    text-decoration: none;
}

.link__nav:hover {
    color: var(--second-color);
}

.cabecalho__conta {
    padding: 0 2rem;
}

.link__conta {
    background-color: var(--second-color);
    color: var(--primary-color);
    font-size: 22px;
    font-weight: 300;
    text-decoration: none;
    border: 2px solid none;
    border-radius: 1rem;
    padding: 1rem;
}

.link__conta:hover {
    background-color: var(--hover);
}

.homepage {
    display: flex;
    flex-direction: column;
}

.div__home {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__titulo-1 {
    letter-spacing: 1rem;
    font-size: 60px;
    font-weight: 300;
}

.home__titulo-2 {
    letter-spacing: 2rem;
    padding: 0.5rem 0;
    font-size: 80px;
    font-weight: 900;
}

.home__titulo-3 {
    letter-spacing: 15px;
    color: var(--second-color);
    font-size: 40px;
    font-weight: 900;
}

.foquete {
    width: 10.3%;
    top: 0;
    position: absolute;
    padding: 6rem 0 0;
}

.div__home-home {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    gap: 8rem;
}

.nuvens {
    width: 100%;
    padding: 25.2rem 0 0;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.formLogin {
    display: flex;
    flex-direction: column;
    background-color: var(--second-color);
    border-radius: 7px;
    margin: 0 50rem;
    padding: 5rem;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 5px
}

.areaLogin img {
    width: 420px;
}

.formLogin h1 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;
}

.formLogin p {
    display: inline-block;
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
}

.formLogin input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
}


.formLogin input:focus {
    border: 1px solid #f72585;
}

.formLogin label {
    font-size: 14px;
    font-weight: 600;
}

.formLogin a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #555;
    transition: all linear 160ms;
}

.formLogin a:hover {
    color: #f72585;
}

.btn {
    background-color: #f72585;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;

}

.btn:hover {
    transform: scale(1.05);
    background-color: #ff0676;

}

@media screen and (max-width: 1885px) {

    .cabecalho__lista {
        display: flex;
        text-align: center;
        justify-content: space-around;
    }

    .link__nav {
        font-size: 19px;
        font-weight: 300;
    }

    .link__conta {
        font-size: 19px;
        font-weight: 300;
    }

    .home__titulo-1 {
        font-size: 50px;
        font-weight: 300;
    }

    .home__titulo-2 {
        padding: 0.5rem 0;
        font-size: 60px;
        font-weight: 900;
    }

    .home__titulo-3 {
        font-size: 40px;
        font-weight: 900;
    }

    .foquete {
        width: 11.9%;
        padding: 4.1rem 0 0;
    }

    .div__home-home {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 5rem;
    }

    .nuvens {
        width: 40%;
        padding: 12.7rem 0 0;
    }

    .formLogin {
        padding: 3rem;
        margin: 0 25rem;
    }

    .logo__img {
        width: 80%;
    }

}